[flake8]
max-line-length = 88
extend-ignore = E203, W503, T499, E501
exclude = .git,__pycache__,docs,build,dist,venv,.venv,.eggs,*.egg,*.egg-info,.mypy_cache
per-file-ignores =
    */__init__.py: F401, E402
    examples/*: E402, F401, F811
    tests/*: E402, F841
    stormlog/tui/app.py: E402
    stormlog/tui/monitor.py: E402
    stormlog/tui/profiles.py: E402
    stormlog/analyzer.py: F841
    stormlog/cli.py: F841
    stormlog/context_profiler.py: F841
    stormlog/cpu_profiler.py: F841
    stormlog/profiler.py: F841
    stormlog/tensorflow/*: E402, F841
